<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Редактирование человека</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/people/{id}(id=${person.getPersonId()})}" th:object="${person}">
        <label for="fullName">Введите ФИО:</label>
        <input id="fullName" type="text" th:field="*{fullName}"/>
        <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name of error</div>
        <br/>
        <label for="yearOfBirth">Введите год рождения:</label>
        <input id="yearOfBirth" type="text" th:field="*{yearOfBirth}"/>
        <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Name of error</div>
        <br/>
        <input type="submit" value="Редактировать!">
    </form>
</body>
</html>