<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Добавление новой книги</title>
</head>
<body>
    <form th:method="POST" th:action="@{/books}" th:object="${newBook}">
        <label for="name">Название:</label>
        <input id="name" type="text" th:field="*{name}"/>
        <br/>
        <label for="author">Автор:</label>
        <input id="author" type="text" th:field="*{author}"/>
        <br/>
        <label for="yearProduction">Год выпуска:</label>
        <input id="yearProduction" type="text" th:field="*{yearProduction}"/>
        <br/>
        <input type="submit" value="Добавить книгу">
    </form>
</body>
</html>